body {
background-color: black;
}

h1 {
text-transform: uppercase;
font-size: 3rem;
text-align: center;
}

.poster {
    width: 50%;
    margin-left: 20%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

.motivation.png {
    border: 100px solid white;
    height: 200px;
    width: 200px;
}